/* BASE STYLES */
html {
    color: hsl(300, 43%, 22%);
    font-family: 'Spartan', sans-serif;
    font-size: 16px;
    text-align: center;
    width: 100%;
}

/* CONTAINER STYLES */

/* OVERVIEW STYLES */

/* REVIEW STYLES */

/* FOOTER STYLES */






@media all and (min-width: 1200px) {
    /** DESKTOP STYLES **/
    
        /* BASE STYLES */

        /* CONTAINER STYLES */

        /* OVERVIEW STYLES */

        /* REVIEW STYLES */

        /* FOOTER STYLES */
    
        
    }