/* BASE STYLES */
html {
    color: hsl(300, 43%, 22%);
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* CONTAINER STYLES */
.component-container {
    margin: auto;
    margin-top: 70px;
    width: 95%;
}

/* OVERVIEW STYLES */
h1 {
    color:hsl(300, 43%, 22%);
    font-size: 2rem;
    font-weight: 700;
    margin: auto;
    padding-bottom: 20px;
    width: 80%;
}
h2 {
    color: hsl(303, 10%, 53%);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7rem;
}

#ratings {
    margin-top: 30px;
}

.rating {
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    padding-left: 0px;
}

.stars {
    list-style-type: none;
    padding-left: 0;
    padding-top: 15px;
}

.stars li {
    display: inline;
    padding: 0 2px;
}

.detail {
    font-size: 1rem;
    font-weight: 700;
    padding-bottom: 15px;
}

/* REVIEW STYLES */
#reviews {
    margin: 60px 0;
}

.review {
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    color: white;
    margin: 15px 0;
    padding: 8.5%;
    text-align: left;
}

.author {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.author img {
    border-radius: 50%;
    height: 50px;
    width: auto;
}

.name {
    font-weight: 700;
    line-height: 1.5rem;
    margin: 0;
    padding-left: 20px;
}

.title { 
    color: hsl(333, 80%, 67%);
    font-weight: 400;
}

.quote {
    font-size: .9rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding-top: 10px;
}

/* FOOTER STYLES */
.attribution {
    color: hsl(300, 43%, 22%);
    font-size: .7rem;
    font-weight: 700;
    padding-bottom: 20px;
}
.attribution a {
    color:hsl(300, 43%, 22%);
}
.attribution a:hover {
    color:hsl(333, 80%, 67%);
    cursor: pointer;
}





@media all and (min-width: 1200px) {
    /** DESKTOP STYLES **/
    
        /* BASE STYLES */

        /* CONTAINER STYLES */
        .component-content {
            margin: auto;
            width: 80%;
        }

        /* OVERVIEW STYLES */
        .headings {
            text-align: left;
            width: 50%;
        }

        h1 {
            font-size: 3rem;
            margin: 0;
        }

        h2 {
            font-size: 1.15em;
        }

        /* REVIEW STYLES */

        /* FOOTER STYLES */
    
        
    }